@import "tailwindcss";
/* theme*/
@theme {
  --font-sans: Inter, sans-serif;
  --color-petrol: #003d40;
}
/* theme's variables next/font */
@theme inline {
  --font-syne: var(--font-syne-next), sans-serif;
}
/* base */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
/* components */
@layer components {
  .loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
  }
}

/* utilities */
@utility table-th {
  @apply px-4 py-2 border-b text-left font-semibold;
}

@utility table-td {
  @apply px-2 py-2 border-b;
}
/* animations*/
@keyframes l5 {
  0% {
    box-shadow:
      20px 0 var(--color-petrol),
      -20px 0 rgb(0 61 64 / 0.13);
    background: var(--color-petrol);
  }
  33% {
    box-shadow:
      20px 0 var(--color-petrol),
      -20px 0 rgb(0 61 64 / 0.13);
    background: rgb(0 61 64 / 0.13);
  }
  66% {
    box-shadow:
      20px 0 rgb(0 61 64 / 0.13),
      -20px 0 var(--color-petrol);
    background: rgb(0 61 64 / 0.13);
  }
  100% {
    box-shadow:
      20px 0 rgb(0 61 64 / 0.13),
      -20px 0 var(--color-petrol);
    background: var(--color-petrol);
  }
}
