@import "tailwindcss";
/* theme*/
@theme {
  --font-sans: Inter, sans-serif;
  --color-petrol: #003d40;
}
/* theme's variables next/font */
@theme inline {
  --font-syne: var(--font-syne-next), sans-serif;
}
/* base */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
/* components */
@layer components {
  .loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
  }
  /* ctas */
  .btn-glow {
    position: relative;
  }

  .btn-glow::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px;
    border-radius: inherit;
    background: conic-gradient(
      from var(--glow-angle),
      transparent 80%,
      #fff 92%,
      transparent 100%
    );
    mask:
      linear-gradient(#000 0 0) content-box exclude,
      linear-gradient(#000 0 0);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
  }

  .btn-glow:hover::before {
    opacity: 1;
    animation: glow-spin 3s linear infinite;
  }
}

/* utilities */
@utility table-th {
  @apply px-4 py-2 border-b text-left font-semibold;
}

@utility table-td {
  @apply px-2 py-2 border-b;
}

/* animations*/
@keyframes l5 {
  0% {
    box-shadow:
      20px 0 var(--color-petrol),
      -20px 0 rgb(0 61 64 / 0.13);
    background: var(--color-petrol);
  }
  33% {
    box-shadow:
      20px 0 var(--color-petrol),
      -20px 0 rgb(0 61 64 / 0.13);
    background: rgb(0 61 64 / 0.13);
  }
  66% {
    box-shadow:
      20px 0 rgb(0 61 64 / 0.13),
      -20px 0 var(--color-petrol);
    background: rgb(0 61 64 / 0.13);
  }
  100% {
    box-shadow:
      20px 0 rgb(0 61 64 / 0.13),
      -20px 0 var(--color-petrol);
    background: var(--color-petrol);
  }
}
/* Lets the browser animate the angle of the gradient */
@property --glow-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes glow-spin {
  to {
    --glow-angle: 360deg;
  }
}

@media (prefers-reduced-motion: reduce) {
  .btn-glow:hover::before {
    animation: none;
  }
}
